/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

ul {
  list-style-type:none;
}

.round-image-50 {
  background-color: white;
  border: 1px solid #d9d9d9;
  border-radius: 25px;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  height: 50px;
  width: 50px;
  overflow: hidden;
  text-align: center;
  img { width: 100% }
}

.pc {
  padding-top:5%;
}

.jumbotron{
  text-align: center;
  background-color: rgba(12,56,176,1);
  color: white;
  font-family: "lucinda sans", san-serif;
  font-size: 70px;
}

body {
  // background-color: rgb(235, 240, 250);
    background-color: #F8F8F8;
  padding: 0px;
}

.crop {

  height: 300px;
  width: 300px;
  overflow: hidden;
}

.crop .img-p {
  display:block;
  height: auto !important;
  width: 300px !important;
}

.home-scroll{
  margin: auto;
  width: 552px;
  height: auto;
  border: 1px solid grey;
  box-shadow: 3px 3px 3px #888888;
  background-color: #FFFFFF;
}

.description {
  // padding-top:3px;
  padding-bottom:8px;
  padding-left:27px;
}

#image_comments {
  padding-left: 27px;
}

#like-count {
  padding-left: 27px;
  padding-top: 20px;
}

.home-avatar {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 18px;
}

.upload-time {
  float:right;
  padding-top: 17px;
  padding-right: 10px;
}

hr{
  margin: 5px;
}

#logo {
  padding: 12px;
  margin-top: 8px;
  margin-left: 400px;
  color: white;
  font-size: 4em;
  font-family: 'Grand Hotel', cursive;

}

.white {
  margin-right: 400px;
}

.blue {
  background-color: #FFFFFF;
  color: #4775D1;
  height: 200px;

}

.blue a {
  margin-top:12px;
  color: #2B467D;
}

.usernames {
  font-weight: bold;
  color: #2B467D;
}

.usernames a,a:visited {
  color: #2B467D;
}

.blue a:hover {
  background-color: #FFFFFF;
}

.home {
  margin-top: 50px;
}

a:hover {
  text-decoration:none;
}

.heart {
  padding: 10px;
  color: #E6E6E6;
  font-size: 2em;
  font-weight: lighter;
}

// not working
// .heart a:visited {
//   color: red;
// }

.liked-heart {
  padding: 10px;
  color: red;
  font-size: 2em;
  font-weight: lighter;
  // display: none;
}

// .heart a:hover {
//   background-color: transparent;
// }

.comment {
  color: grey;
}

.comment-btn {
  border: none;
}

.comment-btn:hover {
  border: none;
  cursor: text;
  background-color: transparent;
}

.heart-and-comment {
  // display: inline;
  margin-left: 15px;
  padding: 0px;
}

.heart-and-comment a:hover {
  background-color: transparent;
}


// not working
// .heart-and-comment a:visited {
//   color: red;
// }

#comment-form {
  display: inline;
  float: right;
  // margin-right: 60%;
  // width: 90%;
}

#comment-form input {
  border: none;
  width: 473px;
  margin-top: 14px;
}

#new_comment_link {
  color: #B2B2B2;
  margin-bottom: 15px;

}
