/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

ul {
  list-style-type:none;
}

.round-image-50 {
  background-color: white;
  border: 1px solid #d9d9d9;
  border-radius: 25px;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  height: 50px;
  width: 50px;
  overflow: hidden;
  text-align: center;
  img { width: 100% }
}

.masthead {
  text-align: center;
  width: 100%;
  height: 200px;
  margin-top:0;
  background-color: rgba(12,56,176,1);
  color: white;
  font-family: "lucinda sans", san-serif;
  font-size: 70px;
  vertical-align: 100px;
}

.pc {
  padding-top:5%;
}

.jumbotron{
  text-align: center;
  background-color: rgba(12,56,176,1);
  color: white;
  font-family: "lucinda sans", san-serif;
  font-size: 70px;
}

body {
  background-color: rgb(235, 240, 250);
  padding: 0px;
}

.crop {

  height: 300px;
  width: 300px;
  overflow: hidden;
}

.crop .img-p {
  display:block;
  height: auto !important;
  width: 300px !important;
}

.home-scroll{
  margin: auto;
  width: 552px;
  height: auto;
  border: 1px solid grey;
  box-shadow: 3px 3px 3px #888888;
  background-color: #FFFFFF;
}

.description {
  padding-top:15px;
  padding-bottom:3px;
  padding-left:10px;
}

.home-avatar {
  padding: 8px;
}

.upload-time {
  float:right;
  padding-top: 17px;
  padding-right: 10px;
}

hr{
  margin: 5px;
}

#logo {
  padding: 15px;
  color: white;
  font-size: 2em;
  font-family: "lucinda sans", san-serif, cursive;

}

.blue {
  background-color: #2953A6;
  color: white;
}

.blue a {
  margin-top:12px;
  color:white;
}

.blue a:hover {
  background-color: #2953A6;
}

.home {
  margin-top: 50px;
}

a:hover {
  text-decoration:none;
}

.heart {
  padding: 10px;
  color: grey;
}

.comment {
  color: grey;
}
