<div class="masthead">

  <p class="pc">Insta-U</p>

</div>
<% if current_user %>
  <p>Logged in as <%= current_user.name %>.</p>
<% end %>

<% if @images.any? %>
  <ul>
    <% @images.each do |image| %>
      <li><%= image.description %></li>
      <li><%= image_tag image.image.url(:thumb) %> </li>
    <% end %>
  </ul>
<% end %>


<p><%= link_to "Upload", new_image_path %></p>
