$('#heart-link').remove();
$('.heart-and-comment').prepend('<j class="liked-heart glyphicon glyphicon-heart"></j>')
$('#like-count p').remove();
$('#like-count').append('<p><%= @image.get_likes.size %> likes</p>');
